# Homework 1

1. Построить список уникальных типов самолетов, зарегистрированных в России
2. Какой тип самолета имеет самую позднюю дату выдчи сертификата
3. Построить запрос: Владелец Аэропорта, Аэропорт, Пассажиропоток суммарный за 2018, грузопоток суммарный за 2018
4. Перечислить аэропорты, где пассажиропоток больше медианы, а грузопоток меньше медианы
5. Перечислить авиакомпании у которых нет типов воздушных судов зарегистрированных не в России
6. Выведите список: Месяц, суммарный пассажиропоток за данный месяц, аэропорт, в котором пассажиропоток в данном месяце минимальный
7. Вывести список: тип аэропорта, средний грузопоток в месяц в аэропортах данного типа

In [1]:
import pandas as pd
import numpy as np
aircraft = pd.read_csv("./air_stats/aircraft.csv", sep=";")
airlines = pd.read_csv("./air_stats/airlines.csv", sep=",")
airports = pd.read_csv("./air_stats/airports.csv", sep=",")
cargo = pd.read_csv("./air_stats/cargo transportation.csv", sep=";")
passenger = pd.read_csv("./air_stats/passenger transportation.csv", sep=";")

### Смотрим таблички

In [2]:
aircraft.info()
aircraft.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8933 entries, 0 to 8932
Data columns (total 7 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Вид воздушного судна                           8933 non-null   object
 1   Тип (наименование) воздушного судна            8933 non-null   object
 2   Опознавательные знаки                          8933 non-null   object
 3   Серийный №                                     5916 non-null   object
 4   Идентификац. №                                 3014 non-null   object
 5   номер свидетельства о регистрации              8933 non-null   object
 6   дата действующего свидетельства о регистрации  8933 non-null   object
dtypes: object(7)
memory usage: 488.6+ KB

,Вид воздушного судна,Тип (наименование) воздушного судна,Опознавательные знаки,Серийный №,Идентификац. №,номер свидетельства о регистрации,дата действующего свидетельства о регистрации
0,самолет,Птенец-2,RA-0001A,NaN,ЕЭВС.03.1529,0001,11.03.2012
1,дельталет,Аватар,RA-0002A,NaN,ЕЭВС.03.1709,0002,16.03.2012
2,самолет,С-2 Елочка,RA-0002G,NaN,ЕЭВС.02.0126,0224,02.06.2006
3,дельталет,СОКОЛ,RA-0003A,NaN,ЕЭВС.03.1708,0003,16.03.2012
4,самолет,Небесный,RA-0003G,NaN,ЕЭВС.02.0013,0225,07.04.2008

In [3]:
airlines.info()
airlines.head()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 551 to 529
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Индекс                116 non-null    object
 1   Название              116 non-null    object
 2   Юридическое Название  114 non-null    object
 3   Самолеты              114 non-null    object
dtypes: object(4)
memory usage: 4.5+ KB

,Индекс,Название,Юридическое Название,Самолеты
551,Абакан Эир,Общество с ограниченной ответственностью «АБАК...,Абакан,"Ил-76 (7), Ми-26 (3), Ми-8 (3), Ми-8МТВ (5)"
481,Авиа Менеджмент Груп,Акционерное общество «Авиа Менеджмент Груп»,Иваново (Южный),Pilatus PC-12 (10)
554,Авиакомпания «Лайт Эйр»,Закрытое акционерное общество Авиакомпания «Ла...,Уфа,"BK-117 (1), Robinson R-44 (17), Ан-2 (7), R..."
284,Авиакомпания СОКОЛ,Закрытое акционерное общество Авиакомпания «С...,Новотитаровская-Азимут,"Ми-2 (1), Ми-8 (1)"
442,Авиакон Цитотранс,Открытое акционерное общество Авиакомпания «А...,Екатеринбург(Кольцово),Ил-76 (5)

In [4]:
airports.info()
airports.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование аэропорта РФ  281 non-null    object
 1   Свидетельство              282 non-null    object
 2   Юрлицо                     282 non-null    object
 3   Тип                        282 non-null    object
dtypes: object(4)
memory usage: 8.9+ KB

,Наименование аэропорта РФ,Свидетельство,Юрлицо,Тип
0,Архангельск (Талаги),"Сертификат МАК № 061А-М, 27.09.2013-03.08.2018...",ОАО «Аэропорт Архангельск»,В
1,"Нарьян-Мар В 3 км восточнее г.Нарьян-Мар, НАО",Свидетельство о государственной регистрации и ...,ОАО «Нарьян-Марский объединенный авиаотряд»,В
2,"Васьково 12 км юго-западнее г.Архангельск, Ар...",Свидетельство о государственной регистрации и ...,ОАО «2-ой Архангельский объединенный авиаотряд»,Г
3,"Котлас 3 км юго-восточнее г.Котлас, Архангель...",Свидетельство о государственной регистрации и ...,ОАО «Аэросервис»,Г
4,"Лешуконское 1,3 км юго-западнее села Лешуконс...",Свидетельство о государственной регистрации и ...,ОАО «Аэропорт Лешуконское»,Г

In [5]:
cargo.info()
cargo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3473 entries, 0 to 3472
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование аэропорта РФ  3473 non-null   object
 1   Год периода данных         3473 non-null   int64
 2   Январь                     3473 non-null   object
 3   Февраль                    3473 non-null   object
 4   Март                       3473 non-null   object
 5   Апрель                     3473 non-null   object
 6   Май                        3473 non-null   object
 7   Июнь                       3473 non-null   object
 8   Июль                       3473 non-null   object
 9   Август                     3473 non-null   object
 10  Сентябрь                   3473 non-null   object
 11  Октябрь                    3212 non-null   object
 12  Ноябрь                     3212 non-null   object
 13  Декабрь                    3212 non-null   object
 14  Январь - Декабрь           3212 non-null   object
dtypes: int64(1), object(14)
memory usage: 407.1+ KB

,Наименование аэропорта РФ,Год периода данных,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Январь - Декабрь
0,Абакан,2018,"63,39","60,98","69,46","88,62","83,81","64,99","49,64","70,26","87,35",NaN,NaN,NaN,NaN
1,Айхал,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
2,Алдан,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
3,Амдерма,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
4,Анадырь,2018,"112,58","267,65","221,77","331,37","160,45","89,77","109,29","95,99","103,77",NaN,NaN,NaN,NaN

In [6]:
passenger.info()
passenger.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3473 entries, 0 to 3472
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование аэропорта РФ  3473 non-null   object
 1   Год периода данных         3473 non-null   int64
 2   Январь                     3473 non-null   object
 3   Февраль                    3473 non-null   object
 4   Март                       3473 non-null   object
 5   Апрель                     3473 non-null   object
 6   Май                        3473 non-null   object
 7   Июнь                       3473 non-null   object
 8   Июль                       3473 non-null   object
 9   Август                     3473 non-null   object
 10  Сентябрь                   3473 non-null   object
 11  Октябрь                    3212 non-null   object
 12  Ноябрь                     3212 non-null   object
 13  Декабрь                    3212 non-null   object
 14  Январь - Декабрь           3212 non-null   object
dtypes: int64(1), object(14)
memory usage: 407.1+ KB

,Наименование аэропорта РФ,Год периода данных,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Январь - Декабрь
0,Абакан,2018,11 851,10 504,11 591,12 323,14 314,19 935,25 213,25 507,19 295,NaN,NaN,NaN,NaN
1,Айхал,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
2,Алдан,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
3,Амдерма,2018,***,***,***,***,***,***,***,***,***,NaN,NaN,NaN,NaN
4,Анадырь,2018,5 128,4 447,5 456,7 650,8 364,10 563,13 402,13 751,10 065,NaN,NaN,NaN,NaN

### Чистим данные

In [38]:
airports['Тип']=airports['Тип'].apply(lambda x: ' '.join(x.strip().split()))

In [7]:
mounths = ['Январь', 'Февраль',
       'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь',
       'Октябрь', 'Ноябрь', 'Декабрь']
mounths_year = mounths + ['Январь - Декабрь']
for m in mounths_year:
    cargo_copy = cargo[m].copy()
    cargo_copy.loc[cargo_copy == '***'] = np.NaN
    cargo_copy = cargo_copy.apply(lambda x: float(x.replace(',', '.').replace(' ', '')) if type(x) == str else x)
    cargo[m] = cargo_copy

    passenger_copy = passenger[m].copy()
    passenger_copy.loc[passenger_copy == '***'] = np.NaN
    passenger_copy = passenger_copy.apply(lambda x: float(x.replace(',', '.').replace(' ', '')) if type(x) == str else x)
    passenger[m] = passenger_copy

In [8]:
for name in cargo['Наименование аэропорта РФ'].unique():
    data_by_city = cargo[cargo['Наименование аэропорта РФ']==name]
    data_by_city = data_by_city[mounths_year]
    if len(data_by_city.loc[data_by_city.isnull().all(1)]) == len(data_by_city):
        cargo = cargo.drop([i for i, _ in data_by_city.iterrows()])

for name in passenger['Наименование аэропорта РФ'].unique():
    data_by_city = passenger[passenger['Наименование аэропорта РФ']==name]
    data_by_city = data_by_city[mounths_year]
    if len(data_by_city.loc[data_by_city.isnull().all(1)]) == len(data_by_city):
        passenger = passenger.drop([i for i, _ in data_by_city.iterrows()])

In [9]:
for name in cargo['Наименование аэропорта РФ'].unique():
    data_by_city = cargo[cargo['Наименование аэропорта РФ']==name]
    data_by_city = data_by_city[mounths_year]
    for i, row in data_by_city.iterrows():
        if np.isnan(row['Январь - Декабрь']):
            for mounth in mounths:
                if np.isnan(row[mounth]):
                    row[mounth] = data_by_city.mean()[mounth]
            row = row.fillna(0)
            row['Январь - Декабрь'] = row[mounths].sum()
            data_by_city.loc[i] = row
    cargo.loc[cargo['Наименование аэропорта РФ']==name, mounths_year] = data_by_city

for name in passenger['Наименование аэропорта РФ'].unique():
    data_by_city = passenger[passenger['Наименование аэропорта РФ']==name]
    data_by_city = data_by_city[mounths_year]
    for i, row in data_by_city.iterrows():
        if np.isnan(row['Январь - Декабрь']):
            for mounth in mounths:
                if np.isnan(row[mounth]):
                    row[mounth] = data_by_city.mean()[mounth]
            row = row.fillna(0)
            row['Январь - Декабрь'] = row[mounths].sum()
            data_by_city.loc[i] = row
    passenger.loc[passenger['Наименование аэропорта РФ']==name, mounths_year] = data_by_city

In [10]:
cargo = cargo.rename(columns={'Январь - Декабрь':'Грузопоток за год'}) 
passenger = passenger.rename(columns={'Январь - Декабрь':'Пасажиропоток за год'})

In [11]:
cargo.info()
cargo.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1053 entries, 0 to 3471
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование аэропорта РФ  1053 non-null   object
 1   Год периода данных         1053 non-null   int64
 2   Январь                     1053 non-null   float64
 3   Февраль                    1053 non-null   float64
 4   Март                       1053 non-null   float64
 5   Апрель                     1053 non-null   float64
 6   Май                        1053 non-null   float64
 7   Июнь                       1053 non-null   float64
 8   Июль                       1053 non-null   float64
 9   Август                     1053 non-null   float64
 10  Сентябрь                   1053 non-null   float64
 11  Октябрь                    1053 non-null   float64
 12  Ноябрь                     1053 non-null   float64
 13  Декабрь                    1053 non-null   float64
 14  Грузопоток за год          1053 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 131.6+ KB

,Наименование аэропорта РФ,Год периода данных,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Грузопоток за год
0,Абакан,2018,63.39,60.98,69.46,88.62,83.81,64.99,49.64,70.26,87.35,87.388182,91.773636,113.661818,931.323636
4,Анадырь,2018,112.58,267.65,221.77,331.37,160.45,89.77,109.29,95.99,103.77,159.211818,169.090909,288.170000,2109.112727
5,Анапа(Витязево),2018,43.38,50.43,50.43,61.64,63.94,77.29,82.30,81.20,75.00,46.580909,41.993636,49.596364,723.780909
8,Архангельск(Талаги),2018,119.56,130.61,166.54,211.94,214.98,132.86,122.48,165.11,121.52,235.210000,342.932727,514.773636,2478.516364
9,Астрахань(Нариманово),2018,47.67,53.47,63.11,69.69,66.51,53.62,68.75,77.58,76.00,72.547273,64.610909,82.157273,795.715455

In [12]:
passenger.info()
passenger.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1053 entries, 0 to 3471
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование аэропорта РФ  1053 non-null   object
 1   Год периода данных         1053 non-null   int64
 2   Январь                     1053 non-null   float64
 3   Февраль                    1053 non-null   float64
 4   Март                       1053 non-null   float64
 5   Апрель                     1053 non-null   float64
 6   Май                        1053 non-null   float64
 7   Июнь                       1053 non-null   float64
 8   Июль                       1053 non-null   float64
 9   Август                     1053 non-null   float64
 10  Сентябрь                   1053 non-null   float64
 11  Октябрь                    1053 non-null   float64
 12  Ноябрь                     1053 non-null   float64
 13  Декабрь                    1053 non-null   float64
 14  Пасажиропоток за год       1053 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 131.6+ KB

,Наименование аэропорта РФ,Год периода данных,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Пасажиропоток за год
0,Абакан,2018,11851.0,10504.0,11591.0,12323.0,14314.0,19935.0,25213.0,25507.0,19295.0,10622.727273,9502.727273,9804.636364,1.804631e+05
4,Анадырь,2018,5128.0,4447.0,5456.0,7650.0,8364.0,10563.0,13402.0,13751.0,10065.0,10948.454545,7181.727273,7002.727273,1.039589e+05
5,Анапа(Витязево),2018,40338.0,32232.0,32232.0,56658.0,94249.0,219472.0,294101.0,311263.0,207505.0,37742.545455,22905.909091,21668.545455,1.370367e+06
8,Архангельск(Талаги),2018,61727.0,56015.0,65240.0,67853.0,80438.0,97057.0,107634.0,107201.0,89288.0,56526.545455,51227.727273,50139.181818,8.903465e+05
9,Астрахань(Нариманово),2018,39578.0,37537.0,42383.0,50028.0,56043.0,46546.0,56329.0,59163.0,62552.0,37385.363636,27892.818182,27069.727273,5.425069e+05

In [13]:
aircraft["дата действующего свидетельства о регистрации"] = pd.to_datetime(aircraft["дата действующего свидетельства о регистрации"], format="%d.%m.%Y")
aircraft.info()
aircraft.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8933 entries, 0 to 8932
Data columns (total 7 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Вид воздушного судна                           8933 non-null   object
 1   Тип (наименование) воздушного судна            8933 non-null   object
 2   Опознавательные знаки                          8933 non-null   object
 3   Серийный №                                     5916 non-null   object
 4   Идентификац. №                                 3014 non-null   object
 5   номер свидетельства о регистрации              8933 non-null   object
 6   дата действующего свидетельства о регистрации  8933 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 488.6+ KB

,Вид воздушного судна,Тип (наименование) воздушного судна,Опознавательные знаки,Серийный №,Идентификац. №,номер свидетельства о регистрации,дата действующего свидетельства о регистрации
0,самолет,Птенец-2,RA-0001A,NaN,ЕЭВС.03.1529,0001,2012-03-11
1,дельталет,Аватар,RA-0002A,NaN,ЕЭВС.03.1709,0002,2012-03-16
2,самолет,С-2 Елочка,RA-0002G,NaN,ЕЭВС.02.0126,0224,2006-06-02
3,дельталет,СОКОЛ,RA-0003A,NaN,ЕЭВС.03.1708,0003,2012-03-16
4,самолет,Небесный,RA-0003G,NaN,ЕЭВС.02.0013,0225,2008-04-07

### Cписок уникальных типов самолетов, зарегистрированных в России

In [14]:
print(*aircraft.loc[aircraft["Вид воздушного судна"] == "самолет"]["Тип (наименование) воздушного судна"].unique().tolist(),sep='\n')
# print(aircraft["Вид воздушного судна"].unique().tolist())
# print(*aircraft.loc[aircraft["Вид воздушного судна"] != "самолет"]["Опознавательные знаки"].unique().tolist(),sep='\n')

Птенец-2
С-2 Елочка
Небесный
Светлый
Сура
EUROSTAR
Pioneer 330
СП-30З О
Саргон
Аэропракт-20
Ястреб
Рейнджер МПВ
Икарус С42В
С22В Икарус
Авиатика-890СХ
С-2УТ Синтал
Х-32-912УТ Гор
Peregrrine SL
EuroStar SL
EuroStar SLW
СП-34М
Саванна
FK-9 Mark-3
Z-602
А-27МС
Дельфин-10
АС-5М Альбатрос
Вимана
Аэропракт-22L2
Авиатика-МАИ-890СХ
Жучок
СП-30 Эльф
А-27М
СП-30
Спорткруизер
СН-701
СП-30Амур1
NG-46
ЭКЛИПС
Alpha Trainer
Амик-10
Sky Ranger
Х320
Аэропракт-22Л2
ТОПОЛЬ
МК 192
СП-01(КП)
Р-20 "Птенец-2"
СТ-18
СКИФ
САПСАН
WT9 DS
Петр Первый
Авиатика-МАИ-890У
ОБ-31
Ан-2
Ан-2Т
СП-30 Ермак
Викинг
X-32 B-1 "Бекас"
Z-43
А-27М2
СК-12т3 "Орион"
KP-2U SOVA
ФОТОН
Касатик М-12К
Savannah
Корвет-26
Дельфин_
По-2
Таурус М
СТ-2000
Sky Ranger G
СП-30НГ
Ан-2ТП
СП-30К
Корвет-Л
СП-30Z
ТВС-2АМ-1
БЕРКУТ-1
NG-5BRM
ТВС-2МС
BLACKSHAPE CF300 "PRIME"
П2002 Сиерра
С-2СХ"Синтал"
PC-12/47
PC-12/47E
PC-12/45
Авиатика 890-582
Pilatus PC-12/45
PC-6/B2-H4
Pilatus PC-12/47E
Аист-410М
P.180
Piaggio FW P 149D
П92 Эхо Супер
СП-30бви
Х-32 Бекас
TL-232 CONDOR
ПТЕНЕЦ-2УЛ
Светлячок
ПТЕНЕЦ АВК
СП-30ИК "ЧИЖИК"
А-27М1
А-29
X-32 B-2
Pioneer 230 № 243
Pionerr 230 № 224
А-20 Аэропракт
DA 42
DA 42 M
DA 42 NG
Аэропракт-22L2 "ADVENTURE"
DA 40 NG
АЛГА
Элитар-Сигма "Сигма S.LAIM'
Аэропракт-22L2 БАЛУ
Вирус
Л-13ВВМ
Кинетик
Л-13ВМ
Extra 300/L
SR22
P2006T
P2002 JF
EUROSTAR SLW
Фермер-1
P2002-JF
Фермер-2
Aero Commander 520
MU-2B-26A
Beech 23
Model 390 Premier I A
Арго-02
Фермер-3
PC-46-500TP
EA 300/SC
PA-32-260
АИ-10 РОМАШКА
X-32
С-2 Синтал
Элитар-Сигма
Бе-103
Элитар-202
Проспорт-Каб
B19
750XL
PA-46-350P
TL 2000 Sting S4
К-10 Свифт
TWINSTAR MARK-3 Classic
Че-259
СП-30АС
Че-257
ALBATROS-SX
Джет Фокс-97
СП-30 Ирбис
DV 20 KATANA
Корвет-2
Як-54
Як-52
L-200D
РА-28-180
Скиф 1
РА-46-500ТР
PA-32R-301
PZL-104 'Wilga-35A'
АЭРОПРАКТ-22Л2
Х-32 "Колибри"
CТРИЖ
Х-34
Х-32 "Бекас-В"
Х-32 "Бекас-Г"
EV-97 EuroStar SL
Х-32 "Бекас-Д1"
Х-32 "Бекас-Е1"
С-182TD
PA-46
SportCruiser
А-10
С-182S
МЦС-130 "Беркут"
СП-30П
СП-55М
ОВП-100
РУСЬ
ВИТЯЗЬ
Аэропракт-22L2-1
СК-12т4 Орион"
СП-30 Сокол
Аэропракт-22Л
АС-11
ОСА
СП-38 УТ
СП-30В
Че-22 "EAGLE"
СТ 2000 С
СП-38
Синтал C-2
ЧИЖИК
Пеликан-4А
МАИ-890УМ
Б-2
СП-32УТ
Пеликан-2Б
АНТ
SKY RANGER-Северок
Аэропракт-27МБ
Че-22
Skhrab
Ш-2А "Шмель"
СП-37УТА
ВИРАЖ В-1
АС-2 Сигма
Скай Рейнджер
Skyranger M-1
CH-701 "STOL"
СТ-19
СТ-20
И-3
ПС-2Б Акробастер
АРГ-101 "Кармастер"
СТ-2
SKY RANGER
СТ-23
МАИ-890 ЧАЙКА
СТ24
Х-32 КРЕЧЕТ
СТ-22
Х-32 БЕРКУТ
СТ-17
HS-125-700B
BAe 125-800A
HS-125-700A
EMB-135BJ
HONEY BEE H2
СП-22
Model 390 (Premier I)
EMB-550
Super Petrel LS
И-15БИС
B300
HS125
ДИТ
KitFox II КРл-19
В-35.2004
Ан-2П
БЕКАС 103
EMB-120ER
БЕКАС 102
БЕКАС 101
EV-97 EuroStar SL+
VIPER SD-4
SPORTSMAN
X-32-912 Бекас
ПЕРЕПЕЛ
Sport Star Plus
Птенец 2 РТ 912
FROGGY
СП-30Амур2
Д-360
Д-358
Д-140
КОЛИБРИ.
Фаэта
СК-01
ВАЛДАЙ
АЭРОПРАКТ А22-912
МАП-32-912сх
ViAL
F-02
Рейнджер ДК
А-22СВ
РейнджерВВ
СП-30 РЫСЬ
СП-30М-1
ГУСЬ-1
СП-2008
J 450
ЕХ-350
WT-9 DYNAMIC
ММ-330
А-22 Аэропракт
СП-33
Х-32 "СТРИЖ"
Кронавиа-8
РАДИАН
Кронавиа-7
Л-42
Че-27М2 СА-002
АИ-9
Питер ВМЦ-100
ZODIAK 601 UL
Скайренжер
SKYRANGER
Х-32 "АИСТ"
Ежик
LA-8C-RS
СП-30 МРИЯ
STOLL-701S
НС-3
НС-2
Р-20 "Птенец-2П"
Спектр-30
"АВИА"-АЗЦ-14
СтэП
А-20
СА-8
Иволга
СП-34 "СТРИЖ"
НС-1
С-402B
СОКОЛ 80-84
Х-32 B-3 "Бекас"
ХАИ-48
АЭРОПРАКТ-22
А-22КМ
X-32Д "Бекас"
Х-32-912
А-890
Warrior
Динамик
С-182 ТАВ
А-890УТ Авиатика
А-52
МАКС-32-912
Х-32 "Бекас-Соло"
PA-28-140
МИР-32-912
Pioneer 230, №227
Як-18А
Х-32 "Выша"
Х-32 "Орьев"
А-22Л
СК-12 Орион
Х-32 АРЦЕУЛОВ К.К
SAMBA XXL
Х-32 Славянка
Беркут
Корвет-К
СТ-25
СТ-31
SkyMax
СТ-32
СП-30 СХ-Т
STOL CH 701
СП-24
Piper Cub
Cessna-172N
Sunny
X-32 B-4 "Бекас"
Чирок
ШАРК
Стрекоза
СР-30
Пеликан-2
SHARK
С-150 Жорик
Бланик Л-13М
ФаворитF-1
СИГМА-Л
KITFOX 2015
INSIGNIA
Cetus-1000
Long-EZ
Sky Wolf
SCHEIBE SF25A
Кронавиа-9
Cetus A700
АЛЛЕГРО
ФВС
Бриз
Х-32 ЛАСТОЧКА
СР-29
Х-32 Бекас-К
BORA
X-32 "Бекас-Х"
А-27-М-4
ЛУНЬ
Х-32 "Бекас-ПВЕ"
JF 91D
LAMBADA
Странник
Леон
СуперКэт
NG TPAIL 001
АЭРОПРАКТ-22L2M
ДРАКОН
СК-12 "Орион"
Ф-32 "Агро"
Ф-32У "Агро"
Як-12М
Сигма-4 СМ
Икар
ГЕНЕЗИС
Корвет-К3
Х-32 Снегирь
МиГ-15
АИ-10
Птенец-2 АС
СМ-2000П
А-41
"ZODIAK" CH-701 STOL
ТЕРМИК
RANS S-10 SAKOTA
Л-13М
SportStar Plus
Cessna-FR-172E
ФХ-32 "АГРО"
ПАЙПЕР КЭБ
Х-32 Бекас-АC
МУХА
СП-30А
Х-32 Бекас "Призрак"
ЛУНЬ-Б
Авиатика С-5
Одиссей
Синтал С-2 01
КМН-172
РАДУГА
Д-3
СП-45
СП-46
АМК-5
DRAGONFLY
СП 30ZZM
СП-30ZM
Дельфин-3
ТУКАНО
С-2
СН-650320
Ил-14
Синтал Ю-2
СП-44
СП-30 МАРС
СП-52
СП-30ВТ
F-11 ODISSEY
СКАЙ-РЕЙНДЖЕР
С-18Т1
Шершень
МАП-32-912
ТУРУХТАН II
ТУРУХТАН III
СП-37П
Т-10 КАЙРА
Джабиру-450
АП-22
СЛ-39ВМ1
TL-2000 STING carbon RG
Харченко
Сигма-4
СП-34В
Ю-87 Б-2 Штука
БЕКАС
А-27М4
СП-30Б
РА-23-250
SA-26AT
RV-8
PA-28R-201
PA-23-250
Gardan GY80-160
Mitsubishi MU-2B-35
Stinson 108-2
PA-46-500TP
В200
LAKE 250
L-13 SE Vivat
PA-28-181
DC3C-S4C4G
FORECASTER
Piper PA-28R-200
Zlin Z 37 T
58Р
ДРАГОНФЛАЙ
Акбар
Х-32 B-5 "Бекас"
SOFIA-601XL
Сигма-6
СП-36К "Гренадёр"
Х32 ВОРОН
СП-42
Ан-3Т
IKARUS C-42B
СР-СПАРТАК
MAEFIN TOPFUN
СП-34НГ
А-22МК
Х-32 БАКЛАН
СП-31
СКС-1-02
SKY
СКС-1-01
Бюкер-131С
FLY SYNTHESIS STORCH 582
Питтс-12
СНЕГИРЬ
СОЛОВЕЙ
Х-32 Альбатрос
Скайрейнджер
ЧЕ-22-КД
Дим-Джет-195
ОВП
FR-172K
СП30В
Аэропракт-22LS (A-22LS)
PJ-2
Р-20 "Птенец-2М"
Стерх
Чибис
СП-38АК
L-250
J-3
Авиатика 890У
СП-30 "Стрелец"
СП-34
ZODIAC 650 RE
СП-34К
Х-32 Авангард
Старлинг
Онежец
Х-32 "МИКС-3"
Птенец-2УБ
Skyboy
Чиж
Арго-02цм
C-172 Stranger
Питенпол
C-172 Tiger
Бекас-1
Бекас-2
Як-52 ПМ2
Грач
Аэропракт-22L
К58
УТ-18
СА-91
С-15
С-172 "SIMBA"
В-2
Dynamic-WT-9HK
А-4
РЕМЕЗ-1
СА-1
Альфа тренер
Свифт К-10
CH 701 STOL
Че-25К
PIONEER 330 №020
СИРИУС
Л-200А Морава
АИ-10 Икар
Корвет-J
СП-90
Рейнджер М
Sportcruiser 01-AP
СМ-94-И
КВС-52
Сейбр С-60
Х-01 Беркут
Стриж_
СП-52Л
Commuter-151
СМ-92
СМ-94-1
СП-35
Финист-004
С-172
777 AVIA
ИМ-180
WarriorII
Су-31
Агро-1
Агро-2
СМ-92Т
Че-22Р
Т-52
СП-32П
Ла-8
ER 300/L
А-33
СП-2007
СП-250
СТ-27
ПС-52
Л-200А
АП-21 Зенит
ТВС-2МС-12
По-2ВС
Су-31К
Т-18
ARROW
С-172К
СП-27
Тренер-Т2
Л-29 Viper
СР-31
Стерх-С1
Орион
Авиатика-МАИ-890
Генерал
К-18
Яша
Еким
А-33-011
Тайгер-Мот
П-96 Гольф-100
18Т
В-35.2006
Синица-7
МВЕН-2 Фермер
СП-25
СП-26
Вильга-35А
Сигма-4 Дуэт
С-182ТД
АДС-100 Пегас
СП-129
Як-30
СМ-18Т
Че-25
Аист-2
Корвет-64
Z-326
Л-39
С-18Т.2
С-18Т.3
LARK
Скай Мастер
ЯК18ТГО
ЯК18ТГС
СП-36У
Че-22 Корвет
С-421
PA-31T
Дрозд
С-182
Ан-24РВ
PA-23 Aztec
СТ-26
Р-25
СР-32
С42В
Стриж-1
С-172 'Скайхок'
КОАЛА
FALCON-900B
FALCON 900EX EASy
FALCON-7X
ТЛ-2000
ML-29
Yak-18T
Sky Arrow 450T
СТВ-35А
С-150М
Авиатика 890 Брянск
Феликс
Б-32 Ирина
Л-200Д
Х-32 Бекас-3
F-172
Х-32 B-6 Бекас
СП-55Д
РОМАНОВ
СП-52М
СП-52МВС
Р-20
SPORTSTAR
Ацтек
Falcon 900LX
Торга-1
СП-32
Литл-Джет-185
Литл-Джет-186
Катран
Sportcruiser 02-RS
Сиерра 200
СП-36УТ
АВИАТИКА-МАИ-910
СВ-3000
Триумф
Z-142
Skylane
Commander
ЛС-1 Ворон
DA20/100 Katana
А-32 Сканер
СП-14М
Cessna 172S
VARI EZE
Л-6СВ
Л-6М
УТ-18М
SP-55M
Че-27
СП-38у
СП-30у
Х-32 Бекас-КМ
Меркурий VI-У
Корвет-Б3
Gulfstream IV-SP
Gulfstream V-SP
Gulfstream GV-SP (G550)
Gulfstream GVI (G650)
РВ-9А
Skywagon
Мермейд
Cetus-700
Питенполь
C-172ПР
СП-55
Скайренджер
Аэропракт-22ЛС
Аэропракт-22ЛМ
АЛЕКС-1
АЛЕКС-2
Грифон-100М
Эдельвейс
C-172I
C-172N
С-176 Фламинго
СП-24М
ТЛ-2000Ш
К-10
SABRINA
Л-4
Л-29Д01
Ц-172У
Ц-172М
И-103
Птенец-2мт
NG-4 НИОЛ-2
NG-4 НИОЛ-1
IKARUS C42B-2
IKARUS C42B-3
TAILWIND
Dynamic WT9
Ан-12БП
Чероки-28
EVROSTAR SL
Cessna-150M
Т-18М
А-1 Авангард
Ан-12Б
Аэропракт-22017
Флайт Дизайн СТЛС
РА36-300
С-188В
Ш-2
Пыжик
ZK-F
P 96 GOLF
Ан-12
Авиатика А 890
Сапсан Ми-001
Мотопланер Бланик М
Зодиак-601
NG-4 UL
Cetus A702
Л-13 Бланик.
VILGA 35
Июль-2
А-33М
ЭОЛ
ГОГА-МЫШКА
PA-18 Super Cub
Cherokee-28
РА-38
Зодиак 601 УМЛ
Б-52
С-150С
СВ-32
Л-29 Дельфин
Ан-12ТБ
Сигма-Классик
C-182RG
Х-32 Виват
Ш-1А "ШМЕЛЬ"
Skyhawk-172
Че-22 Корвет-К
Р 92 В "Эхо Супер"
Р 2002 П "Сиерра"
Р 2002 "Сиерра"
Рейнджер-Сокол
МП-1
Р 2002 ШВ Сиерра
Рейнджер-Т
СП-38К
А-27МК
СП-38 Аспект
СП-30 Сапсан
Ан-12БК
Чайка.
СП "Леон"
Фандор
Гвардия 54
СП-30ТЦ
СМ-92Т-001
А-22ЮС
МАИ 223
Ф-5М
Циклон Ц-188А
БП-1 Турухтан
С-1
Сокол
X-32 Flight
СМ-01 Чайка
NG-4
Тулпар-182Т
Red Liner
СВП-207Т
Дельфин-29
СП-38 Айшатик
Л-200АМ
СП-52В
Август
ГЗ-1 "Эдельвейс"
СП-38УТА
СП-39УТА
С-172М
С-52В
EV-97R EuroStar
P2002 Sierra RG de Luxe
P2002 Sierra RG
ДВ-18Т
Птенец-2А
MAULE
НС-4
STOL TROPHY 2000TT
Т-2
P92 Echo Super
Ан-26
ШХ-2
A-20SCSE
Вайпер-29
Скай
Шмелк
Сигма-Классик А
СП-52У
MUSKETEER
Шмель
Л-29М1
СП-48
Л-29 Центурион
Cetus M7
TL-2000 Стринг
МАЙКЛ-1
Х-32/89сх "Корвет"
С-210РН
HARTOR
Аэропракт А-37
Piper Sport
СК-12т5 Орион
C-164
СП-38АМ
Х-32-912УТ "Бекас"
Х-32Т Бекас
А-22
P2002 Sierra Deluxe
РЫЖИК
P2002 Sierra
P2008
СП-30УТ "Вилорик"
Zodiac 601XL
Корвет
ТЛ-3000 СИРИУС
СП-30 Семерочка
М-12 Касатик-Д
Сокол 777
GN-155.02
Корвет-ЛУ
СП-30М
Бриз М
С-182К
Авангард-2
Авангард-3
РТ-38
Skycruiser
C150H
ЭКОСПАС
СП-37М
Пайпер-спорт
Cetus-702
Ил-103с
ХАРАДА-1
ХАРАДА-2
Maule M-7-235C
МХ7
Cetus 710
Буревестник 22
Чайка 35
Синий ястреб-172
Красный Кардинал-177
C-152KN
Чиж "Цессна-172 М"
Чероки РА-28
150Л Цессна
C-172V
C-400 Corvalis
Yak-52
БелкАН-01
М-101Т "Гжель"
Миротворец
Унжа
P2002 RG
Любава
С-185 "Медведь"
Extra 330/LC
СП-43
Беркут СМ-451
Сигма-5
ТЛ-2000 "Стинг"
КС-201м
СП-30 Дрозд
МС-893
C-150KN
С-182С
STB-20
М-7
Мушкетер
Лебедь
Афалина
А-2 Авангард
Софинад
И-16
И-153 "Чайка"
МиГ-3
Cessna-172D
BL-330LC
NG 4 HD
БВА
Sport Cruizer SA
001 Лена
JT-18 джокер
Дельфин-2
Зодиак
Альбаз
ШАГ-150 "Белый Ветер"
ПЗЛ-104 И-35 Иволга-35М
СН-650
Л-42М
В-18Т
Спорт
Як-12А
RV-7A
А-890У
СХ-55
DA-40F
Рейджер АВ
Зодиак СН-601ТМ
СН-701ТМ
СП-36У Air Ranger
СП-77
YR-1
YR-2
Ромашка
Cessna 172RG
М-12 Касатик-ШУМЕР
Як-52 "Прототип"
Пилигрим-06
Аэропракт-22LS
Самара
СН-701Т
Цикада М3
L200D Феникс
C-172P
Сталкер
C-172Z
Л-29 JET
Cetus-1002
С-15 А
Sky Arrow 450TS
Аэропракт A-22LS
С-150 Акробат
C-172M
A-22LS
A22LS-90TM
СК Круизер
NG 5 LSA
РА-46
GM-17 Viper
С182Р
TL-2000 Стинг
Arrow-IV
FK9 ELA
ПИПИСТРЕЛ ТАУРУС Т503
C-172L
IAR-823
R-G
Maule M-7-235B
Сириус РА-28
Як-18ТК
СП-30 Десяточка
S10-VT
СП-38ТМ
СП-38УМ
А-22ДД
Юнона
Piper L-4
С-150 Тайфун
Sierra C24R
С172С
Вильга 35А14
Christen Eagle-2
Вильга 35М14
ЯК-18ТСС
Л-42М Синяя птица
CN-150L/T
Goos
С-152
СП-581
F15-F Сапсан
Ск-12т6 Орион
Dag-555
AT01 Aquila A-210
C-172U
Cetus Evolution
С-172ХР
C-182Q
М-18Т
СП-40
СП-41
EA 300/LC
ZLIN-42M
РВ-52
КВ-52
Икарус С42Е
ZODIAC CH801 XL
СокоЛ-29
А-201Д
Аэростар-52
F-52
Cetus-1777
Цикада
Иволга-35
Т-18МН
Centurion PA-28
Centurion C-172
Моль
Че-29А1
CH 260 Flight
Цессна-150М
Элитар-Сигма Кизляр
МХ-7
Piper Sport-V2
Сокол-2М
РС-РА-28
Злин-42М
Z-142M
А-33Х
Морава-200А
NP-18-2P
Белый лебедь
Л-42М СТЕРХ
MTR-1
CESSNA-182
Cessna-152
С-150 АУРА
HARMONY LSA
Ц-182П
Як-52 SPORT
Аэропрактика-222
ДВ-150
Цикада-М
Cessna 172E
Як-18Т-Мыслитель
Maule M-7-235
STINSON 108-1
STINSON 108-3
Piper PA-28-140
C-172 IR
G-202
Цикада-СБ
A-22 LS
Cetus A900
RV-9A
NG-4 НИОЛ-3
SP-91
C-150
А-27М5
Remos GX
Чайка-U206
А-1С 200
Як-52С
Як-18С
У-2
TUNDRA
Фермер-4
Фермер-4П
РА-23
Аэропракт-22-1
Сибиряк
GL-III
С-150 Ларк
SA-226T
V-39 Сокол
БИМБОС
C-150L
С-18Т
PSJ-01
Корвет-J2
А-22 Сокол
Cessna C-172G
C-172G
L-39D
АН-2Б
Cessna 172 BSV
МЦ-172 TRAINER
Sport Cab PA-18
КОНДОР-212
Л-44 Танаис
ВАД-52
C-172 C
Х-32-914 "Бекас"
По-2П
СУ-26М2
KITFOX 5 OUTBACK
А-22лс БИП
М-12
Сокол-М
ЛВМ-60
PA-28-161 (Warrior II)
Арчер
EX-360
Л-42М СТЕРХ-1
СК-12т7ш "Орион"
Коммандер
Элитар-Сигма С4Е-006
NG-45
NG-48
C172 R-02
C172 R-01
MZ-22LS
С-150КР
М-142
СЗК-4
ТЛМ-2000
"Форсаж"
Cetus 200
Cetus 900
Cherokee-180
Н800
Че-29А2
Super Maule 720
Cetus 703
УТС-42 01
STOL CH 750
Virus SW
Авиатика-МАИ-890-СХУ
NG 5 BRM
Кардинал
Lake LA4-200
ZLIN 142
ТУНДРА
C-52
Бичкрафт Бонанза
Л-31
Аэропракт А-22
Cessna 150 LNS
Хохорей-180
Фарман-4
W-35A
С-172N
EA300/LP
C-337
C-377G
Cessna C-150L
Cetus A703
Пайпер РА-19
LA-4200
Экстрим 1
Aerobatic
SportAero 2
SportAero 1
СТРИЖ С182
Цессна 182А
Z-37A-1
FA-20
DC-3
Harmony
МАИ-223М
Л-29_
CN-150M
C-T206F
HUSKY
Лиман-ГЛ
Норд-Винд 1
Норд-Винд 2
DA20-A1
Шершень -1м
MS-885
C-182W
Yak-52B
С-172Р
Як-52Н
A-22LSB"Аэропракт"
RV-7
РВ-53
УТС-МС893А
АА 5
Ascent
ТВС-2МС-2
Pitts
РА-28
P2002-JF CS/VLA
Zlin-42MF
B-58 Baron
Л-42М "Игл"
КР-11
ZODIAC CH-601 XL
Альбатрос-01
E 330 LXI
Злинн-42М
Cessna-182P
Я52
Lightning
Л-42 Лебедянка
C-182S
ПАЙПЕР РА-18
MAULE MX-7-160
Корвет-АТ
EA-300
VP-Cherry
С-012 Ястреб
УТС-28 01
ТБ-10
AC-680V
Cessna C-172D
Cessna-172 Centurion
Як-40
Як-40К
Epic LT
DREAMER
REMOS-GX
И-7
РА-161
SKYLEADER 500
Альбатрос-02
Че-24А1
ARROW III
Hormony LSA
SM-337
CR-182
Exstra 300/SCE
C-172R-03
C182R-01
Элитар-Сигма С4Е-007
C-337F
C-185F
СН.801
C-182 L
NORDCES-172
Sky Arrow 650 TNS
УТС-Z142
Сигма-4 Баваль
F-150M
ПАЙПЕР РА-20
SU-29
SU-31
Гаврон
М7-235
R-GX
ЗОДИАК 601 XL
Моран MS893AA
C-A185F
ВМБ 59 Арктур
Cetus 1003
СТРЕЛА
Л-42М-Адмирал
Л-42М-Альбатрос
СуперКаб-36
КОРСАР
Cetus 704
Sky View
СН801
Лайка
Fokker DR.1
North Americfn SNJ-4
НАВАХО
C172R-04
NG 5 Demo
Sopwith Camel
AVRO 504K
По-2А
С-44Ф
Чайка-35В
Fokker D VII
КАРДИНАЛ-27
Л-42МШ
Eagle-2
EXTRA 300/SCE
C-T310R
М5-235С
RV-10
NG 5 Bristell
А-33МА
М-12 Касатик
SportStar MAX
Турист
Мастер-52
FY-101
LS-5
CESSNA-150F
C-172CT
SM-1019
F-30
E 330 LXK
Cessna 172M
УТСЛ-29
В-35С
МАЛ-35
MAULE M-6-235
C-182N
Ф-007
С-182М
Cessna 182P
HARMONY LS
С182
C-172H
Cessna 172N
А-12
Zlin Z-42M
Morane MS-893
AG-55
LAKE 200
АТ-52
F-37 Шмель
Че-29Б1
В-95
Як-52СС
Як-52СМВ
Як-12СЕ
CE-172
Zet-42
Стриж-5
CT Supralight
PA-34-220T
СА-07
PZL Koliber
А-150
МАРАБУ
С 172
Cueppa P2002
Фенёк
Су-29ПФ
Филин
Twin Bee
В-95А
А-33 МИКС
Lake Buccaneer
МВ-500
RemosGX-912
A-33-1
Commander 114
Cruiser
ZODIAC CH 650
Зодиак 650 ВК
С-172МЕ
Цесна 175К
А-44
Cessna-150JKS
Тукан
А-45
PZL-104 Вильга-35А
PAK-172D
Коммодор
C177/68
HELIO H-295
СП-92
Ермак
Cessna 182RG
C-172-MX
Д-36 Беркут
C-226T
Wilga 2000-1
Цессна172р
Циррус СР-22
LAKE BUCANEER 546
Цикада 22
Витязь-18Т
Z-142Б
Sierra P2002A
ПЗЛ-101А
Феникc
Пинелопа
Мираж-18Т
Lake Salmon
Jonathan
Дельфин-5
C-501SP
Aero Commander 681
М-12КА
Bonanza F33A
МС-890
Чекан 22
ЦСН-150
C172R-06
C172R-07
П-01 ВАЙПЕР
CESSNA 182M SKYLANE
СохАч-12
C172R-05
C172R-08
Акробат-М
Сокол-55М
PZL-101 GAWRON
Zlatik-150M
PV-10
С172-0381
ПАЙПЕР28-266-99
Грэй
Л-42МТ
Cessna 150L
Бирхок Патруль
C-182LY
Х-34 Бекас
Ветерок
Siena
B-33-D
В-35 Кузнечик
Ласточка.
BBP-45
C-172R ОМЕГА
АЭРОМАКС
GROSS
Ирис-206
A-22RT
СП-152
Pioneer 400, № 400
Jerry
Cessna P210N
F-172L
Феникс Ф-12М
C-182 Fortuna
Су-31МХ
Л-44м
М-6-235
NG-5 Bristell
Zenair CH-801 HD EWAG
КВ-12М
Альбатрос-1
АС680
CH-601HDS ЯстребоК
Socata Trinidad TB-20
RV-10 Анатолий
Ч-29К
B-23-S
ВЕ 60
СВС-16
Л-42м Мечта
Beech 200
Елена
ZL-142
CF-150K
Cessna T210K
Цессна-182Е
C-210F
П28А
ТВС-2ДТ
М5-235
STOL 801
PA-28R-180
MAULE MXT-7-180
STOL CH-801-M
Prolog 2002
VALENTIN TAIFUN 17E
Excelsior
C18052665
Rк-12а "Александр Невский"
Вальдо
Ла-4
C172H0582
CSS-150
Robin DR-360
Стинсон-108-1
Як-12м "Лель"
Z-142AP
GT-2 Aerostar
Reims F-172E
Викинг-150
EA 300/SCE
Z-142VV
Z-42AV
П-2С Акробатмастер
SM 1019
СП-91 05-01 (И-3)
C172RG
Ил-103А
СП-52АМ
STB-10
SpSt
NG 5 DELTA
А-48
А-47
Aeroprakt-22L2
РА28140-28-25583
Z-142SJ
PG-150
CESSNA-172G
VS-1
C-170A
Cessna T182T
Z-142A
В-23 Мушкетер
Nimbus-2000
A36TC "Bonanza"
Альбатрос-2
Skymaster NEO
Skymaster A-337
STOL 701CH
PZL-101AV
В-35
Cessna-172E
ГАРТ
Cessna 182P/Skylane
PA2814028-7325205
Ан-26Б-100
Rally Minerva
Ан-26Б
GuRu
Ан-26-100
ЧЕ-23м
Pioneer 300, № 328
Соката MS-893
Лисёнок
С150-М1
Ан-26БРЛ
SeaRey
С-72
Л-42м-2
СОКАТА-ТВ10-287
C-172K-1723121
L-13SE Vivat
Ан-24Б
СМ-26
Че-25С
Scheibe Falke SF25C
МУШКЕТЕР-23
Тэшка
АГАТ-172
Зодиак STOL CH-801
Мир-7
ФАЭТОН
NG 5 Beetle
Stinson
Че-29Б2
Сапсан Ф-007
БУЛАТ
RC-3
Cessna 172
Cessna 182A
F-172-H
МВ 223 "Фламинго"
Экстрим 2
АГАТ-01
Piper J 3
Як-52АВ
С-150-66260
РОККИ
NG 5 STORM
ЕВС-3
РА-24-260
Яков-12-А
Сапсан
БВ-64
Glasair-III
SOCATA-CT10-129
White Bird
Кайра В23М
S-MS-893
Borey
СМ-32
АВС-01
СПОРТ-М
Jazz
Бичкрафт С-23
Reims Cessna F-172F
SOCATA RALLYE 150ST
СН-750
АВСТЕР
АДАД
Тундра
Проксимити
C1-172B
C2-F172F
Стинсон-108-2
VA-7
Piper PA-18 Super Cub
Piper Cherokee
Savage Cub
Цессна-177 Кардинал
Piper
ЦС-150
С-182Н
СП-55ПФ
СЛ2-01
N-65
Меркурий
УТ-2Б
Гриф
Sigma LS
Севастополь
Virus SW 100 iS
Ц-172В
Соката МС893
CF-172H
Як-12АЖ
SPORTCRUIS
Цессна 337Н
Константа
Соката ТВ-10
Че-28 белый лебедь
Clipped Wing Cub
РАЛЛЕ
PA-32R-300
Piper PA-38-112 Tomahawk
Аир-Кэмпер
TUNDRA 300
Горобец
Cessna 182G
Соката Феникс
Cessna TTx Stylish
Cessna F172D
PA28-180F
Sky Dream
C-182P
АС-777
Ц-150М
РА-28-140
Цессна ФАВ
SEAREY
РА28-201Т
Zlin Z-142
DO-27
HELIO H-395
СА-337
РА28-140-22922
С185-0136
Ил-2
Че-29В3
A-22LS-122
Па-28 Арчер
REIMS-F172
С-182SD
Каспер
CompAir Шмёлл
СН-801
С-182ТХ
NORTH WOLF
C-182SC
Кречет-АВП
Бичкрафт 33
Зет-326
MS885-5135
P-28 Skava
C-182WA
GILES G-202
Z-142BM
Z-42NG
Вильга 35А 18840796
Вильга 35 85255
ИВОЛГА-54
Руслан
Акроспорт 2
СП-182
С-650 Спутник
Цессна-172.1
Як-52У
С-182Р
Сорокопут
Марчети 205
СП 250
Су-29
Q-2 Skymaster
Rainbow
ALTO 912 TG
Дельфин 10 M R-Line
Злин-142
Е-38
СН-650 'Сокол'
А-27М28
Тунгус
Принцесса 001
Ц172Е
ТВС-2ДТС
CF182H
ЗАРЯ
Advantic WT10
SNV-142
С-140
Яр-12 "Ворон"
Luscombe 8A
МИР
МЭРИ-337
C-182
Socata Rallye 180
Вильга М14П/12
С-337/80
Ан-28
Соката Дипломат
МАИ-411
Т-2м СКИФ
Cessna-172m
Cessna-182J
Bristell RG
Бравоэйр
JAWS
A-211GX
СП-29
CESSNA-172W
Балерион
Extra 300/LC
Ан-30Д
Ан-30
GN-155.03
ТВС-2АМ-2
RC-112
NG 5 Alfa
ТР-301
ТВС-2МС-31
Ан-140
Ан-140-100
Ан-38-100
Ан-38-120
Як-42
Як-42Д
Як-18Т
СМ-18
ВС-18Т
ЯК-18Т
Як-18ТФ
АИР 18Т
Як-18Т 36-ой серии
Ан-24
Ан-24Т
Ан-32Б
Ан-24РТ
Ан-32
Ан-2В
Восток
Ан-148-100В
Ан-148-100ЕА
Ан-148-100Е
Ил-103
Ту-204
Ту-204-300А
Ту-204-100
Ту-204С
Ту-204-300
Ту-204-100В
Ту-204-100В-04
Ту-204-100С-03
Ту-204-100С
Ту-214
Ту-214СР
Ту-214 ПУ
Ту-134А
Ту-134А-3
Ту-134Б
Ту-134Б-3
Ту-134СХ
L-410 UVP-E20
L-410 MA
L-410UVP
Cessna-525
Cessna T206H
CL-600-2B16 (CL-604)
BD-100-1A10 (CL-300)
CL-600-2B19
CL-600-2B19 (CL-850)
BD-700-1A11 (Global 5000)
CL-600-2B16
CL-600-2B16 (CL-605)
BD-700-1A10 (Global6000)
BD-700-1A10
BD-100-1A10
DHC-8-311
DHC-8-402
DHC-8-315
DHC-8-201
DHC-2 MK.III
DHC-6 Series 400 Twin Otter
DHC-6 Series 400
Л-410УВП
Cessna-182T
Cessna 208B
Cessna 525 Citation Jet
С-525
Cessna F 150L
Cessna 172C
Cessna 182H
F 172H
Cessna 150G
Cessna 172K
Cessna 172A
Cessna 172P
Cessna 150H
Cessna-150F
Cessna F172
Cessna 152
Cessna U206F
Cessna 150 M
Cessna 336
Cessna 421A
Cessna F- 172-H
L-410UVP-E
Cessna 172R
Cessna 140
Cessna 550 Bravo
Cessna 337C
Cessna 182T
Cessna 206H
Cessna F337F
L-410UVP-E3
Cessna-182RG
ТВС-2МС-13
Ан-32А
B-737-700
B-737-236
B-757-200
A-319-115
Ан-74ТК-100
Ан-74
Ан-74ТК-100С
Ан-74Д
Ан-74-200
Ил-18Е
Ил-18Д
Ил-18В
Ил-76ТД
Ил-76ТД-90
Ил-76Т
Ил-76ТД-90ВД
Ил-76МД
Ан-124-100
Ан-124
Ту-154М
Ту-154Б
Ту-154Б-1
Ту-154Б-2
Ил-86
Ил-62М
Ил-76
Ил-62
RRJ-95B
RRJ-95LR-100
Ил-114
Ил-96-300
Ил-96-300ПУ
Ил-96-300ПУ(М1)
Ил-96-400Т/IL96-400T
Ил-96-400 ВПУ

### Какой тип самолета имеет самую позднюю дату выдчи сертификата

Переводим дату к нужному типу данных

In [15]:
print(*aircraft.loc[
    (aircraft["дата действующего свидетельства о регистрации"] == aircraft["дата действующего свидетельства о регистрации"].max()) & 
    (aircraft["Вид воздушного судна"] == "самолет")]["Тип (наименование) воздушного судна"].values)

E 330 LXK

### Построить запрос: Владелец Аэропорта, Аэропорт, Пассажиропоток суммарный за 2018, грузопоток суммарный за 2018

In [16]:
company_year_sum = pd.merge(
    pd.merge(
        airports[['Наименование аэропорта РФ', 'Юрлицо']], 
        passenger[['Наименование аэропорта РФ', 'Год периода данных', 'Пасажиропоток за год']]),  
    cargo[['Наименование аэропорта РФ', 'Год периода данных', 'Грузопоток за год']], 
    left_on=('Наименование аэропорта РФ', 'Год периода данных'), right_on=('Наименование аэропорта РФ', 'Год периода данных')
)
company_year_sum.loc[company_year_sum['Год периода данных']==2018]

,Наименование аэропорта РФ,Юрлицо,Год периода данных,Пасажиропоток за год,Грузопоток за год
0,Ленск,"Мирнинское авиационное предприятие АК АЛРОСА"" ...",2018,52489.545455,635.446364
12,Мирный,"Мирнинское авиационное предприятие АК АЛРОСА"" ...",2018,335996.272727,10869.795455
24,Полярный,"Мирнинское авиационное предприятие АК АЛРОСА"" ...",2018,58657.545455,1082.953636
36,Тикси,Аэродром совместного базирования. в оперативно...,2018,16934.090909,434.817273
48,Якутск,"ОАО Аэропорт Якутск""""",2018,870850.000000,11378.253636
60,Абакан,ОАО «Аэропорт Абакан»,2018,180463.090909,931.323636

### Перечислить аэропорты, где пассажиропоток больше медианы, а грузопоток меньше медианы

In [17]:
cargo_passenger = pd.merge(
        cargo[['Наименование аэропорта РФ', 'Год периода данных', 'Грузопоток за год']], 
        passenger[['Наименование аэропорта РФ', 'Год периода данных', 'Пасажиропоток за год']])
mean_grouped = cargo_passenger.groupby("Наименование аэропорта РФ").mean()
print(*mean_grouped.loc[(mean_grouped['Пасажиропоток за год'] > passenger["Пасажиропоток за год"].median()) & 
                    (mean_grouped['Грузопоток за год'] < cargo["Грузопоток за год"].median())].index.tolist(), sep='\n')

Анапа(Витязево)
Астрахань(Нариманово)
Владивосток(Кневичи)-ОАО "Международный аэропорт Владивосток"
Волгоград(Гумрак)
Воронеж(Чертовицкое)
Красноярск(Емельяново)-ООО "Аэропорт Емельяново"
Нижний Новгород(Стригино)
Норильск-ООО "Аэропорт "Норильск"
Оренбург(Центральный)
Саратов(Центральный)
Сыктывкар
Ханты-Мансийск

### Выведите список: Месяц, суммарный пассажиропоток за данный месяц, аэропорт, в котором пассажиропоток в данном месяце минимальный

In [23]:
for year in passenger['Год периода данных'].unique():
    for mounth in mounths:
        print(year, 
              mounth, 
              passenger.loc[passenger['Год периода данных']==year][mounth].sum(),
              passenger.loc[passenger[mounth].idxmin(), 'Наименование аэропорта РФ'] 
        )

2018 Январь 12050746.90909091 Аян
2018 Февраль 10809571.727272727 Аян
2018 Март 12477680.6 Аян
2018 Апрель 13425927.1 Аян
2018 Май 15170505.6 Аян
2018 Июнь 18306014.6 Аян
2018 Июль 20483464.4 Аян
2018 Август 20846749.2 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2018 Сентябрь 18688360.1 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2018 Октябрь 9425126.704545455 Аян
2018 Ноябрь 7989721.129545455 Аян
2018 Декабрь 7923783.13409091 Аян
2017 Январь 10960469.0 Аян
2017 Февраль 10096840.0 Аян
2017 Март 11429383.6 Аян
2017 Апрель 12314459.1 Аян
2017 Май 14164809.6 Аян
2017 Июнь 16742367.6 Аян
2017 Июль 19371022.4 Аян
2017 Август 19427581.2 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2017 Сентябрь 17292085.1 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2017 Октябрь 14259286.5 Аян
2017 Ноябрь 12114355.8 Аян
2017 Декабрь 12096599.1 Аян
2016 Январь 9378402.0 Аян
2016 Февраль 8716550.0 Аян
2016 Март 9828317.0 Аян
2016 Апрель 10121282.0 Аян
2016 Май 11635576.0 Аян
2016 Июнь 14284774.0 Аян
2016 Июль 16569840.0 Аян
2016 Август 17028696.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2016 Сентябрь 15161495.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2016 Октябрь 12427516.0 Аян
2016 Ноябрь 10624634.0 Аян
2016 Декабрь 10870737.0 Аян
2015 Январь 9563316.0 Аян
2015 Февраль 8367870.0 Аян
2015 Март 9824251.0 Аян
2015 Апрель 10385245.0 Аян
2015 Май 12569858.0 Аян
2015 Июнь 15192498.0 Аян
2015 Июль 17623545.0 Аян
2015 Август 18107110.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2015 Сентябрь 15105162.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2015 Октябрь 11810552.0 Аян
2015 Ноябрь 9234464.0 Аян
2015 Декабрь 9271617.0 Аян
2014 Январь 9507547.0 Аян
2014 Февраль 8859674.0 Аян
2014 Март 10169469.0 Аян
2014 Апрель 10671692.0 Аян
2014 Май 12441648.0 Аян
2014 Июнь 15163599.0 Аян
2014 Июль 17103581.0 Аян
2014 Август 17682610.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2014 Сентябрь 14592575.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2014 Октябрь 11911662.0 Аян
2014 Ноябрь 10146035.0 Аян
2014 Декабрь 9991818.0 Аян
2013 Январь 8534902.0 Аян
2013 Февраль 7842288.0 Аян
2013 Март 9317294.0 Аян
2013 Апрель 9792619.0 Аян
2013 Май 11445202.0 Аян
2013 Июнь 13606569.0 Аян
2013 Июль 15230308.0 Аян
2013 Август 15848971.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2013 Сентябрь 13864761.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2013 Октябрь 11352301.0 Аян
2013 Ноябрь 9819452.0 Аян
2013 Декабрь 9584439.0 Аян
2012 Январь 7684157.0 Аян
2012 Февраль 6993354.0 Аян
2012 Март 8037874.0 Аян
2012 Апрель 8720554.0 Аян
2012 Май 9896476.0 Аян
2012 Июнь 12122749.0 Аян
2012 Июль 13710539.0 Аян
2012 Август 14164714.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2012 Сентябрь 12524521.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2012 Октябрь 10035734.0 Аян
2012 Ноябрь 8837123.0 Аян
2012 Декабрь 8714394.0 Аян
2011 Январь 6642718.0 Аян
2011 Февраль 5779675.0 Аян
2011 Март 6905500.0 Аян
2011 Апрель 7541004.0 Аян
2011 Май 8887138.0 Аян
2011 Июнь 10776763.0 Аян
2011 Июль 12412258.0 Аян
2011 Август 12950933.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2011 Сентябрь 11241162.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2011 Октябрь 8933607.0 Аян
2011 Ноябрь 7817355.0 Аян
2011 Декабрь 7789382.0 Аян
2010 Январь 5897533.0 Аян
2010 Февраль 5357820.0 Аян
2010 Март 6290117.0 Аян
2010 Апрель 6539061.0 Аян
2010 Май 8001944.0 Аян
2010 Июнь 9604222.0 Аян
2010 Июль 11059598.0 Аян
2010 Август 11332942.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2010 Сентябрь 9860242.0 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2010 Октябрь 8181908.0 Аян
2010 Ноябрь 6964715.0 Аян
2010 Декабрь 6724056.0 Аян
2009 Январь 4676550.0 Аян
2009 Февраль 4121496.5555555555 Аян
2009 Март 4757179.888888889 Аян
2009 Апрель 5231300.777777778 Аян
2009 Май 6295028.333333333 Аян
2009 Июнь 7768063.0 Аян
2009 Июль 9077520.0 Аян
2009 Август 9600662.555555556 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2009 Сентябрь 8207212.333333333 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2009 Октябрь 6661570.75 Аян
2009 Ноябрь 5733990.875 Аян
2009 Декабрь 5877179.125 Аян
2008 Январь 5389290.0 Аян
2008 Февраль 5204414.555555556 Аян
2008 Март 5948702.888888889 Аян
2008 Апрель 6379019.777777778 Аян
2008 Май 7429583.333333333 Аян
2008 Июнь 8868963.0 Аян
2008 Июль 9796270.0 Аян
2008 Август 10378211.555555556 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2008 Сентябрь 8566132.333333332 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2008 Октябрь 6468277.75 Аян
2008 Ноябрь 5225452.875 Аян
2008 Декабрь 4957517.125 Аян
2007 Январь 4482686.0 Аян
2007 Февраль 4067379.5555555555 Аян
2007 Март 4823251.888888889 Аян
2007 Апрель 5362233.777777778 Аян
2007 Май 6043616.333333333 Аян
2007 Июнь 7714209.0 Аян
2007 Июль 9005689.0 Аян
2007 Август 9635251.555555556 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2007 Сентябрь 8328190.333333333 Владивосток(Кневичи)-ООО "АЭРО-ГРУЗ"
2007 Октябрь 6383543.75 Аян
2007 Ноябрь 5551511.875 Аян
2007 Декабрь 5577085.125 Аян

### Вывести список: тип аэропорта, средний грузопоток в месяц в аэропортах данного типа

In [41]:
for airport_type in airports['Тип'].unique():
    airport_by_type = airports.loc[airports['Тип'] == airport_type][['Наименование аэропорта РФ', 'Тип']]
    cargo_type = pd.merge(airport_by_type, cargo)[mounths]
    cargo_mean = cargo_type.mean().mean()
    print(airport_type, round(cargo_mean,2) if cargo_mean is not np.nan else 0)

В 1362.07
Г 54.49
Е 0
А 0
Д 0
Б 437.41
Б-1 0
В-1 0
А-2 0
А-1 0
Б (горный) 0
B 0
Е (горный) 0
Г (горный) 0